
.Characters{
	color: rgb(117, 115, 115);
	text-align: center;
	font-weight: 300;
}
.InfoTitle{
	text-align: center;
	color: rgb(117, 115, 115);
}
.Movies{
	font-family: sans-serif;
	text-decoration: underline;
	text-align: center;
	margin-top: 15%;

}
.MovieDiv{
	
	padding-bottom: 0.5cm;
	
}
.MovieDiv:hover{
	color: red;
}
.starWarsTitle{
	
}
